.password-input-container{
    display: flex;
    align-items: center;

}
.password-input{

padding-right: 190px;
}
.password-toogle-icon
{
    
    position: relative;
    cursor: pointer;
    right: 30px;  
}